/* 页面整体 */
body {
    /* 避免被editormd覆盖 */
    margin: auto;    
    max-width: 80%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
/* 输入框 */
.user-form {
    display: table;
    margin: auto;
    margin-top: 4px;
}
/* 头像 */
.avatar {
    width: 40px;
}
/* 警告消息样式 */
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}
/* 提交按钮隐藏 */
/* input[type="text"]:invalid ~ input[type="submit"]{
    display: auto;
} */
/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}
/* 右侧的 搜索按钮样式 */
.float-right {
    float: right;
}
/* .btn{
    float: right;
    font-size: 10px;
    border-color: #333;
    border-radius: 4px;
    padding: 3px 5px;
} */
.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;    /* 除去下划线 */
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}
/* 按钮和链接排成一行 */
.inline-form {
    display: inline;
    float: right;
    margin-right: 4px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 4px 5px;
    margin: 1px 5px;
    float: left;
}
/* 导航栏 */
#head_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#head_nav li {
    float: left;
}

#head_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

#head_nav li a:hover {
    background-color: #111;
}