<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../static/js/jquery.min.js"></script>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='flower.ico') }}">
    {%if current_user.is_authenticated %}
    <title>{{ current_user.username }}'s CMS</title>
    <h2>{{ current_user.username }}'s Watchlist</h2>
    {% else %}
    <title>Watchlist</title>
    <h2>请登录</h2>
    {% endif %}
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <div style="margin-bottom: 8px">
        <h2 style="display: inline;">福州</h2>
        <h3 style="display: inline;">{{temperature}}</h3>
        <h4 style="display: inline;">{{ info }}</h4>
    </div>

    <nav id="head_nav">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            {% for tag in candidate_tags %}
                <li><a href="/?selected_tag={{tag.id_tag}}">
                    {{tag.tag_name}}
                </a></li>
            {% endfor %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">SignUp</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
</head>

<body>

    {% block content %}
    {% endblock %}

    <footer>
        <small>&copy; 2019 <a href="http://helloflask.com/tutorial">教程地址</a></small>
    </footer>
</body>

</html>